[Unit]
Description=Service3 - Monitor
After=network.target service1.service service2.service  # Depend on both

[Service]
ExecStart=/home/devopsadmin/multi-service-systemd/service3.sh
Restart=always
User=devopsadmin
WorkingDirectory=/home/devopsadmin/multi-service-systemd
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
